@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
} */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
        "nav main"
        "footer footer";
}

.bodyLogin {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "footer";
}

header {
    background-color: #555;
    color: white;
    padding: 1em;
    grid-area: header;
}

main {
    background-color: whitesmoke;
    color: black;
    margin-left: 1em;
    padding: 2em 2em;
    padding-top: 1em;
    grid-area: main;
}

.mainLogin {
    margin-left: 0;
}

footer {
    padding: 1em;
    background-color: #111;
    color: white;
    grid-area: footer;
}

nav {
    background-color: whitesmoke;
    color: black;
    grid-area: nav;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navHeader {
    padding-left: 1em;

}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.loginForm {
    display: inline-block;
    width: 350px;
    padding: 2em;
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fff;
}

.loginForm form {
    width: 100%;
}

.logoutLink {
    float: right;
    
}

.logoutLink a {
    color: #fff;
    text-decoration: none;
}

.button {
    padding: 1em 1em;
    text-decoration: none;
    background-color: whitesmoke;
    border: 2px solid #555;
    color: #555;
    width: 200px;
}

/* Change the link color on hover */
.button:hover {
    text-decoration: none;
    background-color: #555;
    color: whitesmoke;
    border: 2px solid #555;
    cursor: pointer;
}

input {
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 2em);
}

.width100 {
    width: 100%;
}